.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.Cart-Product {
    width: 600px;
    height: 250px;
    display: flex;

    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;

}

.Cart-Product img {
    width: 100px;
    display: flex;

    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
}

.Cart-Product .description {
    width: 100%;
    font-size: 20px;
}

.quanity input {
    width: 30px;
    text-align: center;
    font-weight: bolder;
}